<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NAJU - Baumbestand</title>
    <link rel="icon" href="{{ url_for('static', filename='pictures/NaJu.png') }}" type="image">
    <link rel="shortcut icon" href="{{ url_for('static', filename='pictures/NaJu.png') }}" type="image">
    <link rel="stylesheet" href="{{ url_for('static', filename='naju-style.css') }}">
    <script src="https://kit.fontawesome.com/a37df8e790.js" crossorigin="anonymous"></script>
    <style>
        {% block special_styling %}{% endblock %}
    </style>
    {% block head %}
    {% endblock %}
</head>

<body onclick="removeMobileBar()">
<div class="header">
    <a href="https://essen.naju-nrw.de/"><img class="logo" src="{{ url_for('static', filename='pictures/NaJu.png') }}"></a>

    <div class="mobile-top">
        <i class="fas fa-bars" onclick="toggleMobileBar()"></i>
        <h1><a href="{{url_for('naju.home')}}">NaJu - Baumbestand</a></h1>
    </div>
    <div class="mobile-side" onclick="holdOpen()">
        <div class="mobile-side-content">
            <a href="{{url_for('naju.home')}}"><i class="fas fa-home"></i>Home</a>
            {% if g.user is not none %}
            <a href="{{url_for('naju.logout')}}"><i class="fas fa-sign-out-alt"></i>Logout</a>
            {% endif %}

            {% if g.user is not none and g.user['level'] > 0 %}
            <a href="{{url_for('admin.accounts')}}"><i class="fas fa-users"></i>Accounts</a>
            <a href="{{url_for('admin.sql_access')}}"><i class="fas fa-database"></i>SQL</a>
            {% endif %}
            {% if g.user is not none %}
            <p></p>
            <a href="{{url_for('naju.add_tree')}}"><i class="fas fa-tree"></i>Neuer Baum</a>
            <a href="{{url_for('naju.add_area')}}"><i class="fas fa-chart-area"></i>Neue Fläche</a>
            <p></p>
            {% endif %}

            <a id="android_app" href="{{url_for('naju.android_app')}}"><i class="fab fa-android"></i>Android App</a>
            <a href="{{url_for('naju.help')}}"><i class="far fa-question-circle"></i>Help</a>
        </div>
        <div class="mobile-side-footer">
            <a href="{{ url_for('naju.imprint') }}">Impressum</a>
            <a href="{{ url_for('naju.privacy') }}">Datenschutz</a>
            <a href="{{ url_for('naju.license') }}">Lizenzen</a>
        </div>
    </div>
</div>

{% block direct_body %}{% endblock %}

<div id="page-section">
    <div id="page">
        <main>
            <noscript>
                <p class="warn">
                    JavaScript ist in Ihrem Browser deaktiviert bzw. nicht unterstützt.
                    Diese Seite benötigt JavaScript, um richtig zu funktionieren.
                </p>
            </noscript>
            {% block content %}{% endblock %}
        </main>

    </div>
</div>



<div class="flash-container">
    {% for message in get_flashed_messages() %}
    <div class="flash flash-error" tabindex="0">{{ message }}</div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='script.js') }}" charset="utf-8"></script>
</body>

</html>