{% extends 'emails/base.html' %}

{% block header %}Anmeldung abschließen: DfS{% endblock %}


{% block content %}
Sehr geehrte/r {{ user['name'] }},
<br>
<br>
<br>
Sie wurden soeben unter dieser E-Mail mit dem Benutzernamen {{ user['name'] }} auf der NAJU-Baumbestandswebsite registriert. Um Ihren Account nutzen zu können bestätigen Sie bitte folgenden Link: <a href="{{ url_for('admin.reset_password', token=token, _external=True) }}">Registrierung abschließen</a>.
<br>
<br>
<br>
Mit freundlichen Grüßen,
<br>
<br>
NaJu-Baumbestandswebsite.
{% endblock %}