{% extends 'base.html' %}

{% block content %}
<div id="post-section">
    <div class="topic" id="discussions_title">Datenschutzerklärung</div>
    <div class="license">
        <p>Der Schutz und die Sicherheit von persönlichen Daten hat bei uns eine hohe Priorität. Daher halten wir uns strikt an die Regeln der Datenschutzgrundverordnung (DSGVO) und des deutschen Bundesdatenschutzgesetzes (BDSG). Nachfolgend werden Sie darüber informiert, welche Art von Daten bei der Nutzung unseres Online-Angebotes erfasst und zu welchem Zweck sie erhoben werden.</p>
        <p class="paragraph">Verantwortlich für den Betrieb und die Inhalte dieser Seite ist:</p>
        <div class="contact"><p><b>Fabius Mettner</b></p>
        <p><b>Hügelstraße 38b</b></p>
        <p><b>45473 Mülheim an der Ruhr</b></p>
        <p><b>GERMANY</b></p></div>
        <p>Kontaktmöglichkeit per E-Mail: <a href='mailto:fabius.mettner@gmx.de?subject=DfS  Benutzeranfrage' class="my_mail">fabius.mettner@gmx.de</a></p>
    </div>
    <div class="license">
        <div class="license-topic">Datenübermittlung / Datenprotokolierung</div>
        <p>Beim Besuch dieser Seite/Web-Applikation verzeichnet der Web-Server automatisch Log-Files, die keiner bestimmten Person zugeordnet werden können. Diese Daten beinhalten z.B. den Browsertyp und -version, verwendetes Betriebssystem, Referrer URL (die zuvor besuchte Seite), IP-Adresse des anfragenden Rechners, Zugriffsdatum und -uhrzeit der Serveranfrage und die Dateianfrage des Client (Dateiname und URL). Diese Daten werden nur zum Zweck der statistischen Auswertung gesammelt. Eine Weitergabe an Dritte, zu kommerziellen oder nichtkommerziellen Zwecken, findet nicht statt.</p>
    </div>
    <div class="license">
        <div class="license-topic">Nutzung Persönlicher Daten</div>
        <p>Persönliche Daten werden nur auf freiwilliger Basis erhoben, wenn Sie auf dieser Seite registriert werden. In diesem Falle wird Ihre E-Mail Addresse, sowie ein von Ihnen gewählter Benutzername auf der Website gespeichert und verarbeitet. Darüber hinaus werden keine persönlichen Daten erhoben es sei denn, Sie machen diese freiwillig, zum Beispiel im Rahmen einer E-Mail Anfrage oder eines Kommentars in einer Diskussion. Die angegebene E-Mail Addresse wird zur Zurücksetzung Ihres Passwortes benötigt und muss zum Abschluss der Registrierung bestätigt werden. In beiden Fällen wird an diese Addresse eine automatisch erstellte E-Mail gesendet.</p>
        <p class="paragraph">Sofern keine erforderlichen Gründe im Zusammenhang mit einer Geschäftsabwicklung bestehen, können Sie jederzeit die zuvor erteilte Genehmigung Ihrer persönlichen Datenspeicherung mit sofortiger Wirkung schriftlich (z.B. per E-Mail oder per Antrag auf Löschung ihres Accounts) widerrufen. Ihre Daten werden nicht an Dritte weitergegeben, es sei denn, eine Weitergabe ist aufgrund gesetzlicher Vorschriften erforderlich.</p>
        <p class="paragraph">Bei der Kontaktaufnahme mit uns (z.B. E-Mail oder Telefon) können persönliche Daten zur Bearbeitung der Kontaktanfrage und deren Abwicklung gem. Art. 6 Abs. 1 lit. b) DSGVO verarbeitet werden. Die Angaben können in einem System zur Anfrageorganisation (z.B. Mail-Server) gespeichert werden. Wir löschen die Anfragen, sofern diese nicht mehr erforderlich sind. </p>
    </div>
    <div class="license">
        <div class="license-topic">Auskunft, Änderung und Löschung Ihrer Daten</div>
        <p>Sie können gemäß geltendem Recht jederzeit schriftlich bei uns nachfragen, ob und welche personenbezogenen Daten bei uns über Sie gespeichert sind. Eine Mitteilung hierzu erhalten sie umgehend.</p>
    </div>
    <div class="license">
        <div class="license-topic">Hosting und E-Mail-Versand</div>
        <p>Die von uns in Anspruch genommenen Hosting-Leistungen dienen der Zurverfügungstellung der folgenden Leistungen: Infrastruktur- und Plattformdienstleistungen, Rechenkapazität, Speicherplatz und Datenbankdienste, E-Mail-Versand, Sicherheitsleistungen sowie technische Wartungsleistungen, die wir zum Zwecke des Betriebs dieses Onlineangebotes einsetzen.</p>
        <p class="paragraph">Hierbei verarbeiten wir bzw. unser Hostinganbieter Bestandsdaten, Kontaktdaten, Inhaltsdaten, Vertragsdaten, Nutzungsdaten, Meta- und Kommunikationsdaten von Kunden, Interessenten und Besuchern dieses Onlineangebotes auf Grundlage unserer berechtigten Interessen an einer effizienten und sicheren Zurverfügungstellung dieses Onlineangebotes gem. Art. 6 Abs. 1 lit. f DSGVO i.V.m. Art. 28 DSGVO (Abschluss Auftragsverarbeitungsvertrag).</p>
    </div>
    <div class="license">
        <div class="license-topic">Cookies</div>
        <p>Auf dieser Website werden sogenannte "Session-Cookies" verwendet, um Ihnen die Nutzung dieser Web-Applikation zu erleichtern. Dabei handelt es sich um kleine Textdateien, die nur während Ihres Besuchs dieser Website auf Ihrer Festplatte hinterlegt werden und je nach Browsereinstellungen beim Beenden des Browsers wieder gelöscht werden. Diese Cookies rufen keine auf Ihrer Festplatte über Sie gespeicherten Informationen ab und beeinträchtigen nicht Ihren PC oder Ihre Dateien. Die meisten Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. Sie können das Speichern von Cookies jedoch deaktivieren oder Ihren Browser so einstellen, dass er Sie auf die Sendung von Cookies hinweist.</p>
    </div>
    <div class="license">
        <div class="license-topic">Änderungen dieser Datenschutzbestimmungen</div>
        <p>Wir werden diese Richtlinien zum Schutz Ihrer persönlichen Daten von Zeit zu Zeit aktualisieren. Sie sollten sich diese Richtlinien gelegentlich ansehen, um auf dem Laufenden darüber zu bleiben, wie wir Ihre Daten schützen und die Inhalte unserer Website stetig verbessern. Sollten wir wesentliche Änderungen bei der Sammlung, der Nutzung und/oder der Weitergabe der uns von Ihnen zur Verfügung gestellten personenbezogenen Daten vornehmen, werden wir Sie durch einen eindeutigen und gut sichtbaren Hinweis auf der Website darauf aufmerksam machen. Mit der Nutzung der Webseite erklären Sie sich mit den Bedingungen dieser Richtlinien zum Schutz persönlicher Daten einverstanden.</p>
    </div>
</div>
{% endblock %}