{% extends 'base.html' %}

{% block content %}
<form class="main_page desktop" method="post" style="min-height: 80vh;" autocomplete="off">
    <div class="filter-line">
        <h2 style="align-self: center; font-size: 2rem;">Bäume</h2>
    </div>
    <div class="filters">
        <h2>Filter:</h2>
        {% for filter in filters %}
        <div class="filter_entry">
            <div class="filter_text">{{filter[0] + ": " + filter[1]}}</div>
            <div class="filter-delete" onclick="remove_type_filter('{{filter[0]}}', '{{filter[1]}}')"><i class="fas fa-times"></i></div>
        </div>
        {% endfor %}
        <div class="filter_entry gapless">
            <div class="filter-delete plus-filter-icon" onclick="open_filters()"><i class="fas fa-plus"></i></div>
            <div class="filter_spacer">
                <div class="filter_div filter_select_div">
                    <div class="div">
                        <div class="select-box area">
                            <div class="option-container area">
                                <div class="option Alle">
                                    <input type="radio" class="radio" id="sidebar-all" name="category">
                                    <label for="sidebar-all">Alle</label>
                                </div>
                                <div class="option Nummer">
                                    <input type="radio" class="radio" id="sidebar-number" name="category">
                                    <label for="sidebar-number">Nummer</label>
                                </div>
                                <div class="option Fläche">
                                    <input type="radio" class="radio" id="sidebar-area" name="category">
                                    <label for="sidebar-area">Fläche</label>
                                </div>
                                {% for param in params %}
                                <div class="option {{param['name']}}">
                                    <input type="radio" class="radio" id="sidebar-{{param['name']}}" name="category">
                                    <label for="sidebar-{{param['name']}}">{{param['name']}}</label>
                                </div>
                                {% endfor %}
                            </div>

                            <input class="selected visible filter-select" name="type" id="type" value="Alle" readonly="readonly">

                            <div class="search-box">
                                <input type="text" placeholder="Suche..." />
                            </div>
                        </div>

                    </div>
                    <div class="i arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div class="filter_div pass">
                    <div class="i">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="div">
                        <h5>Suche</h5>
                        <input class="input" type="text" name="text" id="search">
                    </div>
                </div>
            </div>
            <div class="filter-delete adding-filter" onclick="add_type_filter()">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Fläche</th>
                <th>Nummer</th>
                {% for param in params %}
                <th><a href="{{ url_for('naju.edit_param', id = param['id']) }}">{{param['name']}}</a></th>
                {% endfor %}
                <th class="editable-cell"><a href="{{ url_for('naju.add_param') }}"><i class="fas fa-plus"></i></a></th>
                <th class="editable-cell"><button type="submit" style="cursor: pointer" onclick="return confirm('Wollen sie die aktuell sichtbare Tabelle herunterladen?')"><i class="fas fa-download"></i></button></th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
                {{data|safe}}
            {% endfor %}
        </tbody>
    </table>
</form>
<form class="main_page mobile" method="post" autocomplete="off">
    <div class="filter-line">
        <h2 style="align-self: center; font-size: 2rem;">Bäume</h2>
    </div>
    <div class="filters">
        <h2>Filter:</h2>
        {% for filter in filters %}
        <div class="filter_entry">
            <div class="filter_text">{{filter[0] + ": " + filter[1]}}</div>
            <div class="filter-delete" onclick="remove_type_filter('{{filter[0]}}', '{{filter[1]}}')"><i class="fas fa-times"></i></div>
        </div>
        {% endfor %}
        <div class="filter_entry gapless">
            <div class="filter-delete" onclick="open_filters()"><i class="fas fa-plus"></i></div>
            <div class="filter_spacer">
                <div class="filter_div filter_select_div">
                    <div class="div">
                        <div class="select-box area">
                            <div class="option-container area">
                                <div class="option Alle">
                                    <input type="radio" class="radio" id="sidebar-all" name="category">
                                    <label for="sidebar-all">Alle</label>
                                </div>
                                <div class="option Nummer">
                                    <input type="radio" class="radio" id="sidebar-number" name="category">
                                    <label for="sidebar-number">Nummer</label>
                                </div>
                                <div class="option Fläche">
                                    <input type="radio" class="radio" id="sidebar-area" name="category">
                                    <label for="sidebar-area">Fläche</label>
                                </div>
                                {% for param in params %}
                                <div class="option {{param['name']}}">
                                    <input type="radio" class="radio" id="sidebar-{{param['name']}}" name="category">
                                    <label for="sidebar-{{param['name']}}">{{param['name']}}</label>
                                </div>
                                {% endfor %}
                            </div>

                            <input class="selected visible filter-select" name="type" id="type" value="Alle" readonly="readonly">

                            <div class="search-box">
                                <input type="text" placeholder="Suche..." />
                            </div>
                        </div>

                    </div>
                    <div class="i arrow">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div class="filter_div pass">
                    <div class="i">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="div">
                        <h5>Suche</h5>
                        <input class="input" type="text" name="text" id="search">
                    </div>
                </div>
            </div>
            <div class="filter-delete adding-filter" onclick="add_type_filter()">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Fläche</th>
                <th>Nummer</th>
                <th class="editable-cell"><button type="submit" style="cursor: pointer"><i class="fas fa-download"></i></button></th>
            </tr>
        </thead>
        <tbody>
            {% for tree in trees %}
            <tr>
                <td class="searchable Fläche"><a href="{{ url_for('naju.tree', id = tree['id']) }}">{{ tree['name'] }}</a></td>
                <td class="searchable Nummer"><a href="{{ url_for('naju.tree', id = tree['id']) }}">{{ tree['number'] }}</a></td>
                <td class="editable-cell"><a href="{{ url_for('naju.delete_tree', id = tree['id']) }}" onclick="return confirm('Wollen sie diesen Baum wirklich löschen? Er kann nicht wiederhergestellt werden!')"><i class="fas fa-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}