{% extends 'base.html' %}

{% block content %}
<div id="post-section" class="login-content">
    <form method="post" autocomplete="off">
        <h2 class="title">Neues Passwort erstellen</h2>
        <div class="input-div one">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
            <div class="div">
                <h5>Benutzername / E-Mail</h5>
                <input class="input" type="text" name="username" id="username" maxlength="25" required>
            </div>
        </div>
        <div class="input-div one">
            <div class="i">
                <i class="fas fa-lock"></i>
            </div>
            <div class="div">
                <h5>Neues Passwort</h5>
                <input class="input" type="password" name="password" id="password" required>
            </div>
        </div>
        <div class="input-div pass">
            <div class="i">
                <i class="fas fa-lock"></i>
            </div>
            <div class="div">
                <h5>Passwort bestätigen</h5>
                <input class="input" type="password" name="passwordcheck" id="passwordcheck" required>
            </div>
        </div>
        <div class="confirm-field">
            <button id="btnconfirm" type="submit">
                <div><span>Überschreiben</span></div><i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}