{% extends 'base.html' %}

{% block content %}
<div id="post-section" class="login-content">
    <form method="post" autocomplete="off">
        <h2 class="title">Passwort zurücksetzten</h2>
        <div class="input-div one">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
            <div class="div">
                <h5>Benutzername</h5>
                <input class="input" type="text" name="username" id="username" maxlength="25" required>
            </div>
        </div>
        <div class="input-div pass">
            <div class="i">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="div">
                <h5>E-Mail-Addresse</h5>
                <input class="input" type="email" name="mail" id="mail" required>
            </div>
        </div>
        <div class="confirm-field">
            <button id="btnconfirm" type="submit">
                <div><span>Beantragen</span></div><i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}